.handy-component {

    .standard-button {
        display: inline-block;
        font-family: 'TeachableSans-Medium';
        padding: 15px 40px;
        text-align: center;
        font-size: 12px;
        border-radius: 100px;
        background-color: var(--button-color);
        color: white;
        letter-spacing: inherit;
        border: none;

        &:hover {
            cursor: pointer;
            text-decoration: none;
            background-color: var(--highlight-color);
            color: white;
        }

        &.standard-width {
            min-width: 175px;
        }
    }

    .float-button {
        float: right;
    }

    .delete-button {
        float: right;
        color: #E9563D;
        background-color: white;
        border: solid 0.5px #E9563D;
        font-family: 'TeachableSans-Medium';
        border-radius: 100px;
        padding: 15px 40px;
        font-size: 12px;

        &:hover {
          color: #E9563D;
          background-color: #FBDDD8;
        }
    }
}
