.ReactModalPortal {

    .confirm-delete {

      h1 {
        color: #2C2F33;
        font-family: 'TeachableSans-SemiBold';
        font-size: 20px;
        line-height: 27px;
        margin: auto;
        margin-bottom: 30px;
      }

      .btn {
        width: 124px;
        min-width: 124px;
        padding-left: 0;
        padding-right: 0;
        background-color: var(--button-color);
        border-radius: 100px;
        color: white;
        padding: 15px 40px;
        font-size: 12px;
        border: none;
        line-height: 17px;

        &:hover {
            background-color: var(--highlight-color);
        }

        &:first-of-type {
            margin-right: 40px;
            background-color: #B40404;

            &:hover {
                background-color: red;
            }
        }
      }
    }
}
