.handy-component {

  .x-gray-circle {
      background-image: image-url('handy-components/images/x-gray-circle.png');
  }

  .edit-image {
    background-image: image-url('handy-components/images/edit.svg');
  }
}

.handy-component, .jobs-modal {

  .spinner {
      background-image: image-url('handy-components/images/ajax-loader.svg');
  }
}
