table.admin-table {

  tbody {

    td {

      &.x-column {
        background-image: image-url('handy-components/images/x.svg');
      }

      &.play-column {
        background-image: image-url('handy-components/images/play-button.svg');
      }
    }
  }
}

input.search-box, .search-index .search-button {
  background-image: image-url('handy-components/images/magnifying-glass.svg');
}
