.message-box {

  .message-close {
    background-image: image-url('handy-components/images/x.svg');
  }
}

.spinner {
  background-image: image-url('handy-components/images/ajax-loader.svg');
}

.select-from-modal {
  background-image: image-url('handy-components/images/open-modal.png');
}
