.handy-component {

  .x-gray-circle {
    background-image: image-url('handy-components/images/x-gray-circle.png');
  }

  .edit-image {
    background-image: image-url('handy-components/images/edit.svg');
  }

  .handle {
    background-image: image-url('handy-components/images/handle.png');
  }

  input.search-box, .search-button {
    background-image: image-url('handy-components/images/magnifying-glass.svg') !important;
  }

  .left-arrow {
    background-image: image-url('handy-components/images/left-arrow.png');
  }

  .right-arrow {
    background-image: image-url('handy-components/images/right-arrow.png');
  }
}

.handy-component, .jobs-modal {

  .spinner {
      background-image: image-url('handy-components/images/ajax-loader.svg');
  }
}

.message-box .message-close {
  background-image: image-url("handy-components/images/x.svg");
}
