.modal-select {

  .search-box {
    float: none;
    width: 100%;
    margin-bottom: 10px;
    background-image: url('#{$imgpath}/magnifying-glass.svg');
    background-repeat: no-repeat;
    background-position: 15px 15px;
    border: 1px solid #E4E9ED;
    border-radius: 100px;
    padding: 15px 15px 15px 50px;
    color: #5F5F5F;
    letter-spacing: 1.08px;
  }

  li {
    cursor: pointer;
    padding: 10px;
    border: solid 1px #5F5F5F;
    border-radius: 6px;
    user-select: none;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:hover {
      background-color: #F5F6F7;
    }
  }
}
