// images

.spinner {
  background-image: image-url('handy-components/images/ajax-loader.svg');
}

input.search-box, .search-button {
  background-image: image-url('handy-components/images/magnifying-glass.svg') !important;
}

.select-from-modal {
  background-image: image-url('handy-components/images/open-modal.png');
}

// fonts

@font-face {
  font-family: 'TeachableSans-Regular';
  src: url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Regular.eot");
  src: url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Regular.woff") format("woff"),
    url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "TeachableSans-Medium";
  src: url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Medium.eot");
  src: url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Medium.eot?#iefix") format("embedded-opentype"),
    url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Medium.woff") format("woff"),
    url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'TeachableSans-SemiBold';
  src: url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-SemiBold.eot");
  src: url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-SemiBold.woff") format("woff"),
    url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'TeachableSans-Bold';
  src: url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Bold.eot");
  src: url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Bold.woff") format("woff"),
    url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'TeachableSans-ExtraBold';
  src: url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-ExtraBold.eot");
  src: url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-ExtraBold.woff") format("woff"),
    url("//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-ExtraBold.ttf") format("truetype");
}

// general

.spinner {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.75;
}

// full index

.component {

  font-family: 'TeachableSans-Regular';
  letter-spacing: 1.08px;

  h1 {
    margin-top: 10px;
    letter-spacing: 1.08px;
    display: inline-block;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 28px;
  }

  input.search-box {
    float: right;
    width: 250px;
    font-size: 12px;
    line-height: 17px;
    color: #5F5F5F;
    padding: 15px 15px 15px 50px;
    background-repeat: no-repeat;
    background-position: 15px 15px;
    border: solid 1px #E4E9ED;
    border-radius: 100px;
  }

  .white-box {
    position: relative; // <-- for spinner/gray
    background: white;
    padding: 36px 32px;
    border-radius: 6px;
    box-shadow: 1px 2px 3px 0px #e6e9ec;
    color: #5F5F5F;
  }

  .horizontal-scroll {
    overflow-x: scroll;
  }

  table {
    width: 100%;
    user-select: none;
    font-size: 12px;

    thead {
      border-bottom: solid 1px #dadee2;

      th {
        font-family: 'TeachableSans-SemiBold';
        color: black;
        padding-bottom: 20px;

        &:first-of-type {
          padding-left: 10px;
        }

        div {
          display: inline;

          &.sort-header-active {
            cursor: pointer;
            color: #0385a4;
            font-family: 'TeachableSans-ExtraBold';
          }

          &.sort-header-inactive {
            cursor: pointer;
          }
        }
      }
    }

    tbody {

      tr:first-child td {
        padding-top: 10px;
      }

      td {
        position: relative;
        color: #96939B;

        &:first-of-type {
          padding-left: 10px;
        }

        a {
          display: block;
          width: 100%;
          padding: 10px 0;
        }
      }
    }

    &:not(.no-hover) tr:not(:first-child):not(.no-hover):hover {
      background-color: #F5F5F5;
    }
  }
}
